@font-face{
	font-family: "SEGOE UI";
	src:url('../font/segoeui.ttf');
}
@font-face{
	font-family: "SEGOE UIB";
	src:url('../font/segoeuib.ttf');
}
@font-face{
	font-family: "SEGOE UII";
	src:url('../font/segoeuii.ttf');
}

@font-face{
	font-family: "MONTSERRAT";
	src:url('../font/MONTSERRAT-REGULAR.OTF');
}
@font-face{
	font-family: "MONTSERRATB";
	src:url('../font/MONTSERRAT-BOLD.OTF');
}
@font-face{
	font-family: "MONTSERRATL";
	src:url('../font/MONTSERRAT-LIGHT.OTF');
}
@font-face{
	font-family: "MONTSERRATXL";
	src:url('../font/MONTSERRAT-EXTRALIGHT.OTF');
}


a,p{text-decoration: none;}



b{font-family: "MONTSERRATB"}

*{
  box-sizing: border-box;
}


body{
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
	margin:0;
	max-width: 100%;
	overflow-x: hidden !important;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.wrapper{width: 100%; max-width: 3100px; height: 100%; position: relative; margin: auto; left: 0; right: 0;}
.wrapper .lside{width: 15%; background:#FFF; float: left;}

.logo{width:50%; margin:10px 10%;}
.sidebar{width: 100%;}
.menu{margin: 0; padding: 5px 10px;}
.menu li{position: relative;margin: 2px 0; padding: 5px 20px; border: 1px solid #FFF; cursor: pointer;}
.menu li:hover{border: 1px solid #DFE8F1; border-radius: 3px;}
.menu li ul{margin-left:40px; }
.menu li ul li:hover{border: none;}
.menu li, .menu li b,.menu li a{/*font-size: 14px; */color: #959a9c;font-weight: normal;}
.menu li img{width:25px; margin-right: 10px; vertical-align:middle;}
.submenu{background: #FFF; }


.wrapper .rside{width:85%;background: #f1f4f7; float: left; min-height: 100%;}
.box-arrow{width: 20px; height: 20px; box-sizing: content-box; top: 0; bottom: 0; margin: auto 0; position: absolute; background: rgba(255,255,255,.1); border-radius: 4px; padding: 12px 3px 1px 10px; cursor: pointer;}
.box-arrow:hover{background: rgba(255,255,255,.5)}
.box-arrow .arrow{width: 60%; height: 2px; background: #FFF;}
.box-arrow .arrow:nth-child(1){-webkit-transform : rotate(-35deg)}
.box-arrow .arrow:nth-child(2){margin-top: 4px; -webkit-transform : rotate(35deg)}
.rside .head .top-icon-menu{position: absolute; right: 30px; top: 10%; bottom: 10%; height: 80%;}
.top-icon-menu ul li img{height: 25px; vertical-align: middle;}
.top-icon-menu ul{ margin:0;}
.top-icon-menu ul li{float: left; margin: 3px 5px; padding: 8px; color: #ffffff; cursor: pointer;}
.top-icon-menu ul li p,
.top-icon-menu ul li a,
.top-icon-menu ul li span,
.top-icon-menu ul li b{color: #ffffff;}
.top-icon-menu ul li:hover{background: #299a9a;}
.top-icon-menu ul li.quicksearch:hover{background: transparent;}


.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.5em;
   background:#41E5C0;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:15px;
   border-radius:50%;
   box-shadow:0 0 1px #41E5C0;
}


.head{padding: 0; width: 100%; position: relative;}

.option-box{position: absolute; top:100%;  right: 30px; margin: auto; width: 200px; padding: 0; background: #ffffff; border: 1px solid #d6d6d6; z-index: 999;}
.option-box ul{padding-left: 0; width: 100%; overflow: hidden;}
.option-box ul li{ padding: 8px 15px; color: #959a9c; width: 100%;}
.option-box ul li a{color: #959a9c}
.option-box ul li:hover{background: #f3eeee;}
.gradientr{background:linear-gradient(to right, #0094D8, #00AFA2); -webkit-background:linear-gradient(to right, #0094D8, #00AFA2); -moz-background:linear-gradient(to right, #0094D8, #00AFA2);}
.gradientl{background:linear-gradient(to left, #0094D8, #00AFA2); -webkit-background:linear-gradient(to left, #0094D8, #00AFA2); -moz-background:linear-gradient(to left, #0094D8, #00AFA2);}
input[type="search"].searchontop{border-radius: 15px; width: 100%; padding: 5px 28px 5px 10px;}
input[type="search"].searchontop:focus{outline: none;}




/*form*/
.frm-std,
textarea,.frm-std{
  width: 50%;
  max-width: 50%;
  border-radius: 0;
}
.optionrow{
  float: left;
}
/*end form*/




.popup{
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;
  width: 30%;
  height: 400px;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1009;
  display: none;
}
.popupContent{
  width: 100%;
  text-align: center;
  position: relative;
  top: 0;
  height: 90%;
}
.popupBtn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  text-align: center;
}

.mainbox{border-radius: 2px; padding:10px 1%; width: 98%; max-width: 98%; position: relative; left: 0; right: 0; margin: auto;}
.containt{background: #ffffff; padding: 15px; position: relative;color: #73879C;}

.top-info{
  width: 100%;
  display: block;
}
.top-info-box{color: #ffffff; width: calc(25% - 10px); margin: 5px; padding: 30px 15px;}
.top-info-box.shadow.half:hover{
  -webkit-box-shadow: 1px 1px 2px 0 #999;
  -moz-box-shadow: 1px 1px 2px 0 #999;
  box-shadow: 1px 1px 2px 0 #999;
}
.top-info-toggle{
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  text-align: center;
  display: none;
}
.top-info-toggle img{
  width: 30px;
}
.icon-info{width: 30%; text-align: center; float: left;}
.icon-info img{height: 60px; vertical-align: middle;}
.field-info{width: 70%; float: left;}
/*.field-info p{position: absolute; left: 102%; bottom: 14%;}*/


.short-table{background-color: #ffffff; margin-bottom: 10px; position: relative;}
.short-table .linkmore{text-align: right; position: absolute; bottom: 0; right: 15px;}
.short-table .linkmore a{min-width: 70px; color: #73879c;}
.short-table .linkmore a:hover{text-decoration: underline;}
.table-wrapper{position: relative; height: auto; padding-bottom: 25px; width: 100%;}

.dynamic{padding:20px; width:calc(100% - 40px); float:left;}
.pilled{float: left;}
.headtitle{padding: 10px; padding-top: 0; width:100%; margin-bottom: 20px;}
.headtitle.basecolor{background-color: #e67e22; color: #FFF;}
.headtitle.trans{background-color: #FFF; border-bottom: 1px solid #dfe8f1; color: #a7acb1; position: relative;}
.headtitle .tab-image-setting{position: absolute; right: 20px; top: 0;border-collapse: separate;}
.headtitle .tab-image-setting li{padding: 5px; border:1px solid transparent; float: left;}
.headtitle .tab-image-setting li:hover{border:1px solid #c6c6c6;}
.headtitle .tab-image-setting img{height: 15px; cursor: pointer;}

.box-basic{
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	-o-box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
.option-click{
  cursor: pointer;
}
.capt-form-topright{
  text-align: right; width: 20%; position: relative;
}
.capt-form-topright p,
.capt-form-topright span,
.capt-form-topright b{
  position: absolute; right: 10px; top: 10px;
}
.btn-area{
  margin-top: 10px; padding: 10px 0; border-top: 1px solid #dfe8f1; text-align: center;
}




.left-detail{}
.left-detail-img{text-align: center;}
.left-detail-img img{width: 100%; max-width: 100%}
.left-detail-menu{padding: 5px 0;}
.left-detail-menu li{padding: 5px 10px;}
.left-detail-menu li a{display: block; width: 100%; text-align: center;}


/*detail table*/
.det-con{position: relative;}
.det-tbl{
  color: #959a9c;
}
.det-tbl tr td:nth-child(odd){text-align: right;}
.det-tbl tr td:nth-child(even){text-align: left; position: relative; width: 70%; max-width: 70%;}
.det-tbl tr td:nth-child(even):hover{background: rgba(246,246,246,0.6);}
.det-tbl tr td:nth-child(even):hover .inst-edit{display: block;}
.inst-edit{
  display: none;
  position: absolute;
  right: 10px;
  top: 4px;
  bottom: 0;
  margin: auto;
  width: 25px;
}
.color-selected-frame{width: 30px; height: 30px; border:1px solid #cccccc; background: #eeeeee; border-radius: 2px; position: relative; cursor:pointer;}
.color-selected-frame:hover{background: #eeeeee;}
.color-selected{width: 20px; height: 20px; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;}

.desc-prd-wrapper{width: 80%; max-width: 80%; height: auto; background: #f6f6f6; padding: 5px 10px;}

.cover-frm-edit{position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 10; display: none;}
.edited-frm{position: absolute; left: 8px; width: 100%; top: 0; z-index: 11; display: none;}
.edited-frm input[type="text"]{width: 50%;}
.edited-frm input[type="submit"],
.edited-frm input[type="reset"]{background-color: transparent; width: 20px; height: 20px; background-size: contain; border:none; color: transparent;}
.open-frm-edit{max-width: 100%; cursor: pointer;}
/*detail table*/


.loadSelect{position: absolute; top: 10px; bottom: 10px; left: 7px; margin: auto; width: 48%; height: auto; background-color: rgba(202, 202, 202, 0.71); display: none;}
.loadSelect img{max-height: 125%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}




/*List*/
.list-control{
  width: 100%;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid #dfe8f1;
  float: left;
}
.list-control-box{position: relative; float: left;}
.valchecked{padding: 0 15px;}
.list-control button.btn-list-control{
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 5px 12px;
  position: relative;
}
.icon-list-control{
  height: 15px;
  vertical-align: middle;
  margin-left: 5px;
}
.list-control button.btn-list-control:hover{
  border: 1px solid #dfe8f1;
  border-radius: 3px;
  box-sizing: border-box;
}
.list-control .box-list-control{
  display: none;
  left: 0;
  right: 0;
  text-align: left;
  max-height: 300px;
  overflow: auto;
}
.search-field{
  border-bottom: 1px solid #dfe8f1;
  padding: 10px;
}
.search-field-frm{
  width: 100%;
  box-sizing: border-box;
}
.box-list-control ul li input[type="checkbox"]{
  vertical-align: middle;
}

/*table list*/
  .full-tables{
    width: 100%;
  }
  .full-tables tr th{
      padding: 8px 10px;
    background: #00a2cf;
      color: #fff;
      border-bottom: 2px solid #dfe8f1;
  }
  .full-tables tr td{
    padding: 8px 10px;
    background: #f2f9fa;
    border-bottom: 1px solid #dfe8f1;
    color: #73879C;
  }
  .numberofrows{
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
/*end table list*/

/*end list*/




.pagination li{ 
    background: transparent;
    margin: 3px;
    border-radius: 3px;
}
.pagination li.active{
  background: linear-gradient(to right, #0094D8, #00AFA2);
  pointer-events: none;  
}
.pagination li.active a{
  color: #ffffff;
  font-weight: bold;
}
.pagination li:hover{
  background: linear-gradient(to right, #0094D8, #00AFA2);
}
.pagination li:hover a{
  color: #ffffff;
}
.pagination li a{
  padding: 5px 10px;
  color: #d5aa20;
  display: block;
  font-weight: bold;
}

























/*mobile css*/
.mob-head{position: fixed; width: 100%;z-index: 1010;}
.mob-menu{
	position: fixed; z-index: 1000; width: 0; height: 100%; background: #ffffff; top: 0; bottom: 0; z-index: 1010; display: none; margin-left: -14px; overflow: auto;
	-webkit-box-shadow: 4px 2px 14px 1px #999;
    -moz-box-shadow: 4px 2px 14px 1px #999;
    box-shadow: 4px 2px 14px 1px #999;
}
.mob-menu div,
.mob-menu > ul{display: none; padding-left: 5%}
.mob-menu ul li{position: relative; margin: 2px 0; padding: 3% 3% 3% 10%; border: 1px solid #FFF; cursor: pointer;font-family: "MONTSERRAT"}
.mob-menu ul li:hover{border:1px solid #DFE8F1;}
.mob-menu li, .mob-menu li b,.mob-menu li a{color: #959a9c;font-weight: normal;}
.mob-menu ul li img{width: 15%; margin-right: 7%; vertical-align:middle;}
.mob-menu ul li ul li{padding: 3% 0 3% 25%;font-family: "MONTSERRATL"}
.mob-opt-menu{
    top: 0;
    left: 0;
    z-index: 1002;
    /* background: #F58145; */
    width: 100%;
    height: 100%;
}
.mob-opt-menu img{
	height: 70%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto
}




